@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #dbf1ff;
}

:disabled {
  opacity: 0.35;
  filter: grayscale(0.8);
  cursor: not-allowed;
}

.red-button-lg {
  @apply lg:text-2xl md:text-xl text-lg text-red-500 hover:bg-red-50 rounded-sm duration-300 px-2 py-1;
}

.red-button {
  @apply lg:text-xl md:text-lg text-base text-red-500 hover:bg-red-50 rounded-sm duration-300 px-2 py-1;
}

.red-button-sm {
  @apply lg:text-lg md:text-base text-sm text-red-500 hover:bg-red-50 rounded-sm duration-300 px-2 py-1;
}

.blue-button-lg {
  @apply lg:text-2xl md:text-xl text-lg text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-2 py-1;
}

.blue-button {
  @apply lg:text-xl md:text-lg text-base text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-2 py-1;
}

.blue-button-sm {
  @apply lg:text-lg md:text-base text-sm text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-2 py-1;
}
