@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #dbf1ff;
}

button {
  outline: 0;
  height: fit-content;
  width: fit-content;
}

button:focus-visible {
  outline: 1;
}

code {
  background-color: #dedede;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 600;
  border-radius: 3px;
}

:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white;
  }
}

/* ANCHOR RED BUTTONS ||======================================================================== */
.red-button-lg {
  @apply text-xl text-red-500 hover:bg-red-50 rounded-sm duration-300 px-3 py-2;
}

.red-button {
  @apply text-red-500 hover:bg-red-50 rounded-sm duration-300 px-3 py-2;
}

.red-button-sm {
  @apply lg:text-sm text-red-500 hover:bg-red-50 rounded-sm duration-300 px-3 py-2;
}
/* FILLED ||======================================================================== */
.red-button-filled-lg {
  @apply text-xl text-red-50 bg-red-500 hover:bg-red-600 rounded-md duration-300 px-4 py-2;
}

.red-button-filled {
  @apply text-red-50 bg-red-500 hover:bg-red-600 rounded-md duration-300 px-4 py-2;
}

.red-button-filled-sm {
  @apply lg:text-sm text-red-50 bg-red-500 hover:bg-red-600 rounded-md duration-300 px-3 py-2;
}
/* OUTLINE ||======================================================================== */
.red-button-outline-lg {
  @apply text-xl text-red-500 hover:text-white hover:bg-red-500 border border-red-500 rounded-md duration-300 px-4 py-2;
}

.red-button-outline {
  @apply text-red-500 hover:text-white hover:bg-red-500 border border-red-500 rounded-md duration-300 px-4 py-2;
}

.red-button-outline-sm {
  @apply lg:text-sm text-red-500 hover:text-white hover:bg-red-500 border border-red-500 rounded-md duration-300 px-3 py-2;
}

/* ANCHOR BLUE BUTTONS ||======================================================================== */
.blue-button-lg {
  @apply text-xl text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-3 py-2;
}

.blue-button {
  @apply text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-3 py-2;
}

.blue-button-sm {
  @apply lg:text-sm text-blue-500 hover:bg-blue-50 rounded-sm duration-300 px-3 py-2;
}
/* FILLED ||======================================================================== */
.blue-button-filled-lg {
  @apply text-xl text-blue-50 bg-blue-500 hover:bg-blue-600 rounded-md duration-300 px-4 py-2;
}

.blue-button-filled {
  @apply text-blue-50 bg-blue-500 hover:bg-blue-600 rounded-md duration-300 px-4 py-2;
}

.blue-button-filled-sm {
  @apply lg:text-sm  text-blue-50 bg-blue-500 hover:bg-blue-600 rounded-md duration-300 px-3 py-2;
}
/* OUTLINE ||======================================================================== */
.blue-button-outline-lg {
  @apply text-xl text-blue-500 hover:text-white hover:bg-blue-500 border border-blue-500 rounded-md duration-300 px-4 py-2;
}

.blue-button-outline {
  @apply text-blue-500 hover:text-white hover:bg-blue-500 border border-blue-500 rounded-md duration-300 px-4 py-2;
}

.blue-button-outline-sm {
  @apply lg:text-sm text-blue-500 hover:text-white hover:bg-blue-500 border border-blue-500 rounded-md duration-300 px-3 py-2;
}

/* ANCHOR GREEN BUTTONS ||======================================================================== */
.green-button-lg {
  @apply text-xl text-green-600 hover:bg-green-50 rounded-sm duration-300 px-3 py-2;
}

.green-button {
  @apply text-green-600 hover:bg-green-50 rounded-sm duration-300 px-3 py-2;
}

.green-button-sm {
  @apply lg:text-sm text-green-600 hover:bg-green-50 rounded-sm duration-300 px-3 py-2;
}
/* FILLED ||======================================================================== */
.green-button-filled-lg {
  @apply text-xl text-green-50 bg-green-600 hover:bg-green-600 rounded-md duration-300 px-4 py-2;
}

.green-button-filled {
  @apply text-green-50 bg-green-600 hover:bg-green-600 rounded-md duration-300 px-4 py-2;
}

.green-button-filled-sm {
  @apply lg:text-sm text-green-50 bg-green-600 hover:bg-green-600 rounded-md duration-300 px-3 py-2;
}
/* OUTLINE ||======================================================================== */
.green-button-outline-lg {
  @apply text-xl text-green-500 hover:bg-green-600 hover:text-white border border-green-600 rounded-md duration-300 px-4 py-2;
}

.green-button-outline {
  @apply text-green-500 hover:bg-green-600 hover:text-white border border-green-600 rounded-md duration-300 px-4 py-2;
}

.green-button-outline-sm {
  @apply lg:text-sm text-green-500 hover:bg-green-600 hover:text-white border border-green-600 rounded-md duration-300 px-3 py-2;
}

.page-title {
  @apply md:text-5xl text-4xl mx-auto font-semibold mb-6 text-blue-500;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5%;
  width: 100%;
  height: 2px;
  background-color: rgb(59 130 246);
  transform-origin: right;
  transform: scaleX(0%);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.active.nav-link::after {
  transform-origin: left;
  transform: scaleX(100%);
}
